*, *:before, *:after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}
body {
    box-sizing: border-box;
    font-family: sans-serif;
    color: #666;
    background: #eee;
}
.calendar {
    border: 1px solid #b3b3b3;
    max-width: 1366px;
    margin: 4rem auto;
    padding: 2rem;
    background: #fff;
}
.month-wrapper {
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
    font-size: 1rem;
    font-weight: 100;
}
.month-wrapper .month {
    font-weight: inherit;
    width: 15rem;
    text-align: center;
    text-transform: capitalize;
}
.month-wrapper .arrow-wrapper {
    padding: 1rem;
    cursor: pointer;
}
.month-wrapper .arrow-wrapper:first-child:hover .arrow {
    -webkit-transform: translateX(-0.5rem);
    transform: translateX(-0.5rem);
}
.month-wrapper .arrow-wrapper:last-child:hover .arrow {
    -webkit-transform: translateX(0.5rem);
    transform: translateX(0.5rem);
}
.month-wrapper .arrow {
    display: block;
    font-weight: inherit;
    transition: transform 0.25s ease, -webkit-transform 0.25s ease;
}
.days-wrapper {
    display: flex;
    border-bottom: 3px solid #b3b3b3;
}
.days-wrapper > *:not(:nth-of-type(7n)) {
    border-right: 1px solid #b3b3b3;
}
.days-wrapper .day {
    height: initial;
    padding: 0.5rem;
    text-transform: uppercase;
}
.dates-wrapper {
    display: flex;
    flex-wrap: wrap;
}
.dates-wrapper > *:not(:nth-of-type(7n)) {
    border-right: 1px solid #b3b3b3;
}
.dates-wrapper > *:nth-of-type(6), .dates-wrapper > *:nth-of-type(13), .dates-wrapper > *:nth-of-type(20), .dates-wrapper > *:nth-of-type(27), .dates-wrapper > *:nth-of-type(34), .dates-wrapper > *:nth-of-type(7n) {
    background: #f5f5f5;
}

.date, .day {
    display: flex;
    flex: 0 0 14.28571%;
    background: #fff;
    height: 5rem;
    border-bottom: 1px solid #b3b3b3;
}

.date span {
    margin-left: auto;
    font-size: 0.8rem;
    align-self: flex-start;
}
.date .current-date {
    background: #b3b3b3;
    color: #fff;
}
.date a {
    margin-top: auto;
    text-decoration: none;
    color: #666;
}
.date > *:not(.box) {
    padding: 0.5rem;
}
.date.event {
    cursor: pointer;
    position: relative;
    transition: opacity 0.3s ease, visibility 0.3s ease;
}
.date.event .box {
    position: absolute;
    left: 50%;
    bottom: 80%;
    width: 200%;
    height: 400%;
    text-align: center;
    background: #fff;
    opacity: 0;
    visibility: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
}
.date.event .box .span-wrapper {
    display: block;
    background: #f5f5f5;
    color: #b3b3b3;
    padding: 2rem 2rem 6rem 2rem;
}
.date.event .box .span-wrapper .box-span-date, .date.event .box .span-wrapper .box-span-time {
    text-transform: capitalize;
    display: block;
}
.date.event .box .span-wrapper .box-span-date {
    margin-bottom: 0.5rem;
}
.date.event:hover .box {
    opacity: 1;
    visibility: visible;
}
.blank {
    flex: 0 0 14.28571%;
    height: 5rem;
    border-bottom: 1px solid #b3b3b3;
}
